{% extends "base/base.html" %}
{% load static %}

{% block title %}Examen - Home{% endblock %}

{% block cabecera %}
    <h1>Examen Sesiones 2025</h1>
    <hr>
    <br>
{% endblock %}

{% block contenido %}
    <h5>Menu Enlaces</h5>
    <br>
    <p>Evento - CRUD</p>
    <ul>
        <li><a href="{% url 'evento_create' %}">Evento - CREATE</a></li>
        <li><a href="{% url 'eventos_listar' %}">Evento - READ - Lista</a></li>
        <li><a href="{% url 'evento_buscar_avanzado' %}">Evento - READ - Filtro avanzado</a></li>
    </ul>
    <br>
    <hr>
    <p>Usuarios</p>
    <ul>
        <li><a href="{% url 'usuarios_listar' %}">Lista Usuarios</a></li>
        <li><a href="{% url 'organizadores_listar' %}">Lista Organizadores</a></li>
    </ul>
{% endblock %}