<!-- Modal -->
<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEliminarLabel">Confirmar Eliminación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que quieres eliminar este elemento?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a id="btnConfirmarEliminar" href="#" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>

<script>
    var modalEliminar = document.getElementById('modalEliminar')
    modalEliminar.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        var url = button.getAttribute('data-url')
        var modalConfirmBtn = modalEliminar.querySelector('#btnConfirmarEliminar')
        modalConfirmBtn.href = url
    })
</script>
